backend/ @Varun-Sethu
postgres/ @Varun-Sethu
utilities/ @Varun-Sethu
services/ @Varun-Sethu

frontend/ @fafnirZ
next/ @fafnirZ

.github/ @csesoc/technical
renovate.json @csesoc/technical
Dockerfile @csesoc/technical
