backend/ @hdphuong
postgres/ @hdphuong
utilities/ @hdphuong
services/ @hdphuong

frontend/ @lauraw0 @james-teng-0
frontend/src/packages/editor @lauraw0 @james-teng-0 @hdphuong
next/ @lauraw0 @james-teng-0

.github/ @csesoc/technical
renovate.json @csesoc/technical
Dockerfile @csesoc/technical
